<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915536231385-mt7tjf458kgrmol12p9l1tmq6sfako73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915536231385-mt7tjf458kgrmol12p9l1tmq6sfako73</string>
	<key>API_KEY</key>
	<string>AIzaSyDuIEZ6-Il98NqZMdjziDOMqMBJqgg8ucg</string>
	<key>GCM_SENDER_ID</key>
	<string>915536231385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.insta</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-learn-5cce0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-learn-5cce0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915536231385:ios:9a4f58a02e5f07f76237c8</string>
</dict>
</plist>